body {
  font-family: "Open Sans", sans-serif;
  background-color: #fbfbfb;
}

.css-mdal0i-MuiPaper-root-MuiAppBar-root {
  height: 70px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
}

.input-search {
  align-items: center;
  background: #fff;
  font-size: 14px;
  i {
    margin-right: 10px;
  }

  input {
    width: inherit;
    border: none;
    outline: none;
  }
}

.title-table {
  display: flex;
  align-items: center;
  color: #00bf71;
  margin-top: 20px;

  i {
    font-size: 46px;
    margin-right: 5px;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}

.closeLabel {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: transparent;
  top: -88px;
  bottom: 0;
  left: -4px;
  right: 0;
}

.link-another {
  a {
    display: flex;
    align-items: center;

    i {
      margin-right: 8px;
      font-size: 24px;
    }
  }
}

.card-dashboard {
  margin-top: 20px;
  width: 100%;
  height: 120px;
  background: linear-gradient(to right, #b2b2fb, #1ce07c);
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-evenly;
  font-size: 40px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  span {
    font-weight: bolder;
    font-size: 24px;
  }

  &:hover {
    color: #1ce07c;
    border: 1px solid #1ce07c;
    background: #fff;
    font-size: 48px;
    transition: font-size 0.2s;

    span {
      font-weight: bolder;
      font-size: 26px;
    }
  }
}

.chart-dashboard {
  background: #ebecec;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px;
}

.title-module{
  font-size: 48px;
  font-weight: 700
}

// responsif
@media (max-width: 1440px) {}

@media (max-width: 850px) {}

@media (max-width: 500px) {

  .carousel {
    width: 16rem !important;
    height: 16rem !important;

    .nav {
      font-size: 3rem;
    }
  }
}