body {
  font-family: "Open Sans", sans-serif;
  background-color: #fbfbfb;
}

    /* Estilizando a barra de rolagem vertical */
    ::-webkit-scrollbar {
      width: 12px;
  }
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb:hover {
      background: #555;
  }

  /* Estilizando a barra de rolagem horizontal */
  ::-webkit-scrollbar-horizontal {
      height: 12px;
  }
  ::-webkit-scrollbar-track-horizontal {
      background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb-horizontal {
      background: #888;
      border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb-horizontal:hover {
      background: #555;
  }


.css-mdal0i-MuiPaper-root-MuiAppBar-root {
  height: 70px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
}

.input-search {
  align-items: center;
  background: #fff;
  font-size: 14px;

  i {
    margin-right: 10px;
  }

  input {
    width: inherit;
    border: none;
    outline: none;
  }
}


.logout-btn>.item-logout {
  font-size: 18px;
  position: relative;
  color: #fff;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #fff;
    font-size: 20px;
    transition: font-size 0.2s;

    &::before {
      visibility: visible;
      transform: scaleX(1);
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
}
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
}

.title-table {
  display: flex;
  align-items: center;
  color: #00bf71;
  margin-top: 20px;

  i {
    font-size: 46px;
    margin-right: 5px;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}

.closeLabel {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: transparent;
  top: -88px;
  bottom: 0;
  left: -4px;
  right: 0;
}

.link-another {
  a {
    display: flex;
    align-items: center;

    i {
      margin-right: 8px;
      font-size: 24px;
    }
  }
}

.title-module {
  font-size: 48px;
  font-weight: 700
}

.card-status {
  margin-top: 15px;
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  align-items: center;
  cursor: pointer;

  .title-Ok {
    background: #8ADAB2;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }

  .title-Waiting {
    background: #FFC47E;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }

  .title-Rejected {
    background: #DF826C;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }

  &:hover {
    background: #c9a2a2;
  }
}

.burger-mobile {
  cursor: pointer;
  background: #fff;
  height: fit-content;
  width: fit-content;
  font-size: 28px;
  position: fixed;
  border-radius: 5px;
  padding: 4px 10px;
  left: 5px;
  top: 7px;
  box-shadow: rgb(25 123 231 / 40%) 0px 0px 0px 2px, rgb(221 0 0 / 65%) 0px 4px 6px -1px, rgb(247 27 27 / 8%) 0px 1px 0px inset;
}

.close-burger {
  display: flex;
  justify-content: flex-end;
  font-size: 35px;

  i {
    border-radius: 10px;
    padding: 0px 10px;
    margin: 10px;
    box-shadow: rgb(25 123 231 / 40%) 0px 0px 0px 2px, rgb(221 0 0 / 65%) 0px 4px 6px -1px, rgb(247 27 27 / 8%) 0px 1px 0px inset;
  }
}

// responsif
@media (max-width: 1440px) {}

@media (max-width: 850px) {}

@media (max-width: 500px) {

  .carousel {
    width: 16rem !important;
    height: 16rem !important;

    .nav {
      font-size: 3rem;
    }
  }
}