.modal-create-user {
    padding: 0px 5px 15px 15px;

    .ri-close-line {
        font-size: 28px;
    }

    .from-title {
        font-size: 16px;
        font-weight: bold;
    }

    .switch-module {

        .switch-item {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            align-items: center;

            input[type="checkbox"] {
                height: 0;
                width: 0;
                visibility: hidden;
                margin-right: 10px;
            }

            label {
                cursor: pointer;
                text-indent: -9999px;
                width: 50px;
                height: 27px;
                background: grey;
                display: block;
                border-radius: 100px;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    top: 3px;
                    left: 5px;
                    width: 20px;
                    height: 20px;
                    background: #fff;
                    border-radius: 20px;
                    transition: 0.3s;
                }
            }

            input:checked+label {
                background: #bf0000b7;

                &:after {
                    left: calc(100% - 3px);
                    transform: translateX(-100%);
                }
            }

            label:active:after {
                width: 50px;
            }
        }


    }

    .footer-btn {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;

        .btn-submit {
            background-color: #bf0000b7;
            color: #fff;
            height: 38px;
            border: 1px solid;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
                rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

            &:hover {
                background-color: #fff;
                color: #bf0000b7;
                border: 1px solid #bf0000b7;
            }
        }

        .btn-cancel {
            background-color: #534e4e;
            color: #fff;
            height: 38px;
            border: 1px solid #000;

            &:hover {
                background-color: #fff;
                color: #534e4e;
                border: 1px solid #534e4e;
            }
        }
    }
}