.table-custom {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 0;

  thead {
    background-color: #bf0000b7;
    color: #fff;

    tr {
      th {
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;

        &:first-child {
          border-top-left-radius: 10px;
        }

        &:last-child {
          border-top-right-radius: 10px;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        cursor: pointer;

        i {
          font-size: 20px;
          color: #bf0000b7;
          font-weight: bolder;

          &:hover {
            color: #632b27b7;
          }
        }

        .status-Ok {
          background: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          font-weight: 600;
          color: #8ADAB2;
          border: 1px solid #8ADAB2;
        }
        .status-Waiting {
          background: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          font-weight: 600;
          color: #FFC47E;
          border: 1px solid #FFC47E;
        }
        .status-Rejected {
          background: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          font-weight: 600;
          color: #DF826C;
          color: #DF826C;
          border: 1px solid #DF826C;
        }

        .edit-icon {
          color: #fff;
          background: #FFF78A;
          border-radius: 5px;
          border: 1px solid transparent;
          margin-right: 5px;

          &:hover {
            color: #FFF78A;
            background: #fff;
            border: 1px solid transparent;
          }
        }

        .delete-icon {
          color: #fff;
          background: rgb(236, 73, 73);
          border-radius: 5px;
          border: 1px solid transparent;

          &:hover {
            color: rgb(236, 73, 73);
            background: #fff;
            border: 1px solid transparent;
          }
        }
      }

      &:hover {
        td {
          background: #e93427b7;
        }
      }
    }
  }
}

.paging-box {
  height: 50px;
  padding-bottom: 5px !important;
  gap: 5px;

  li {
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .paging-arrow {
    display: flex;
    width: max-content;
    align-items: center;
    background-color: #fff;
    font-size: 120%;
    cursor: pointer;
    z-index: 2;
    padding: 0 10px;
    color: #bf0000b7;

    &:hover {
      color: #fff;
      background-color: #bf0000b7;
    }
  }

  .paging-number-total {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #fff;
    color: #bf0000b7;
    z-index: 2;
    font-size: 12px;
    padding-inline: 10px;
    cursor: pointer;
    gap: 0.5rem;

    &::marker {
      color: transparent;
    }

    input {
      width: 23px;
      border: 1px solid #afaaaa;
      border-radius: 5px;
      outline: none;

      &:focus {
        border: 1px solid #bf0000b7;
      }
    }
  }
}

.btn-custom {
  background-color: #bf0000b7;
  color: #fff;
  height: 48px;
  border: 1px solid;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  &:hover {
    background-color: #fff;
    color: #bf0000b7;
    border: 1px solid #bf0000b7;
  }
}